.sectionArt {
  list-style: none;
  padding: 4px 4px 4px 4px;
  text-align: center;
  transition: background-color 0.5s ease; 
}

.sectionArt:hover {
  background-color: rgb(230, 230, 230);
}
.buttonArt:hover {
color: black;
}

.ulTotal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 35px;
}

.line {
  height: 1px;
  margin-top: -15px;
}

@media (max-width: 780px) {
  .sectionArt, .line {
    display: none;
  }
}



